.Button {
  font-size: 1rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #5f4a0c !important;
}

.Button:active {
  background-color: #5f4a0c !important;
}

.Button:focus {
  background-color: #5f4a0c;
}

.Large {
  padding: 5px 10px;
  width: 100%;
}

.Olive {
  background-color: #8d7326;
  font-size: 1rem;
  color: #ffffff;
}

.Olive:hover {
  background-color: #524214;
  color: #ddd;
}

.You {
  background-color: #8d7326;
  padding: 7px 17px;
  color: aliceblue;
  align-self: center;
  font-size: 1rem;
  border-radius: 100px;
  border-color: transparent;
  min-width: 75px;
}

.Black {
  background-color: #434a63;
  color: aliceblue;
}

.Black:hover {
  background-color: rgb(189, 218, 243);
  color: #242a3d;
  border-color: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.LightBlue {
  background-color: rgb(189, 218, 243);
  color: #242a3d;
}

.LightBlue:hover {
  background-color: rgb(36, 74, 105);
  color: aliceblue;
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Turquoise {
  background-color: #00d1ff solid;
  color: #fff;
}

.Turquoise:hover {
  background-color: #0b98b8 solid;
  color: #fff;
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}
